@use "../variablesMixinsFunctions.scss" as *;

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    background-color: rgba($myBlack, 0.99);

    transform: translateY(-100%);
    transition: transform 0.5s 0.3s ease-in-out;

    @include query("lg") {
        padding: 0 10%;
    }

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 90;

    div {
        @include flex(column, center, center);
        gap: 1rem;

        cursor: pointer;

        img {
            width: 5rem;
        }
    }

    .up-arrow {
        font-size: 2.5rem;

        transform: scale(0);
        transition: bottom 0.3s ease;

        padding: 1rem;

        position: absolute;
        left: 50%;
        bottom: 3rem;

        cursor: pointer;

        &:active {
            bottom: 5rem;
        }
    }
}
