@use "../variablesMixinsFunctions.scss" as *;

html {
    font-family: "Noto Naskh Arabic", serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;

    max-width: 40em;

    background-color: $myBlack;

    color: $myWhite;

    margin: 0 auto;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    list-style-type: none;

    box-sizing: inherit;
}

img {
    max-width: 100%;
}
