@use "../variablesMixinsFunctions.scss" as *;

.word-and-guesses {
    display: grid;
    grid-template-rows: auto 1fr;

    align-content: space-around;

    width: 100%;

    padding-top: 2rem;

    .word-container {
        @include flex(row, center, center);

        align-self: center;
        justify-self: center;

        width: 50%;
        max-width: 20rem;

        margin-top: 2rem;

        position: relative;

        .word {
            font-size: 2.5rem;
            @include query("xl") {
                font-size: 3rem;
            }

            opacity: 0;
        }

        .word-cover {
            @include flex(row, center, center);

            background-color: $myWhite;

            border-radius: 0.5rem;

            color: $myBlack;
            font-weight: bold;

            transition: right 0.5s 1s ease-in-out;

            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            left: 0;

            overflow: hidden;

            .notch-container {
                font-size: 1.5rem;
                @include query("xl") {
                    font-size: 2rem;
                }

                transform: translateY(-50%) rotate(86deg);

                position: absolute;
                top: 50%;
                right: 5%;
            }
        }
    }
}
