@use "../variablesMixinsFunctions.scss" as *;

.word-and-guesses {
    display: grid;
    grid-template-rows: auto 1fr;

    justify-items: center;

    width: 100%;

    .word-container {
        @include flex(row, center, center);

        width: 30%;
        max-width: 7em;

        margin-top: 3em;

        position: relative;

        .word {
            opacity: 0;
        }

        .word-cover {
            @include flex(row, center, center);

            background-color: $myWhite;

            border-radius: 0.5em;

            color: $myBlack;
            font-size: 1em;
            font-weight: bold;

            transition: right 0.5s 1s ease-in-out;

            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            left: 0;

            overflow: hidden;

            .notch-container {
                font-size: 0.8em;
                transform: translateY(-50%) rotate(86deg);

                position: absolute;
                top: 50%;
                right: 5%;
            }
        }
    }
}
