@use "../variablesMixinsFunctions.scss" as *;

header {
    @include flex(row, center, center);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 95;

    .title-container {
        @include flex(column, center, center);

        position: relative;
    }

    .title {
        font-size: 2.5rem;
        @include mobile(23.125em) {
        }
    }

    .down-arrow {
        font-size: 2.5rem;

        transition: bottom 0.3s ease;

        position: absolute;
        left: 35%;
        bottom: -1.5rem;
    }
}

main {
}
