@use "../variablesMixinsFunctions.scss" as *;

header {
    @include flex(row, center, center);

    @include query("xl") {
        max-width: 900px;
        margin: 0 auto;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 95;

    .title-container {
        @include flex(column, center, center);

        position: relative;

        .title {
            font-size: 2.5rem;
            @include query("xl") {
                font-size: 3.3rem;
            }
        }

        .down-arrow {
            font-size: 2.5rem;
            @include query("xl") {
                font-size: 4rem;
            }

            transform: scale(0);
            transition: bottom 0.3s ease;

            padding: 0 0.5rem 0.5rem 0.5rem;

            position: absolute;
            left: 50%;
            bottom: -3rem;

            cursor: pointer;

            &:active {
                bottom: -3.5rem;
            }
        }
    }
}

main {
    display: grid;
    grid-template-rows: 1fr auto;

    justify-items: center;

    height: 100%;

    padding-top: 4.1rem;

    overflow: hidden;

    @include query("lg") {
        padding-top: 6.7rem;
    }
}
