@use "../variablesMixinsFunctions.scss" as *;

header {
    @include flex(row, center, center);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 95;

    .title-container {
        @include flex(column, center, center);

        position: relative;

        .title {
            font-size: 1.5em;
        }

        .down-arrow {
            font-size: 1.5em;

            transform: scale(0);
            transition: bottom 0.3s ease;

            padding: 0 0.5em 0.5em 0.5em;

            position: absolute;
            left: 50%;
            bottom: -1.2em;

            z-index: 10;

            cursor: pointer;

            &:active {
                bottom: -1.5em;
            }
        }
    }
}

main {
    display: grid;
    grid-template-rows: 1fr auto;

    justify-items: center;

    position: absolute;
    top: 2.55em;
    right: 0em;
    bottom: 0em;
    left: 0em;

    overflow: hidden;
}
