@use "../variablesMixinsFunctions.scss" as *;

.keyboard {
    @include flex(column, center, center);
    gap: 0.3em;

    width: 100%;

    padding: 0 0.5em 1em 0.5em;

    transform: translateY(150%);
    transition: transform 0.5s 0.5s ease-in-out;

    // key row
    .row {
        @include flex(row, space-between, stretch);
        gap: 0.3em;

        width: 100%;

        // key
        button {
            @include flex(row, center, center);
            flex: 1;

            min-width: 1em;
            min-height: 1em;

            background-color: rgba($myGrey, 0.1);

            color: $myWhite;
            font-size: 1em;

            border-radius: 0.5em;

            transition: transform 0.1s ease-in-out,
                background-color 0.1s ease-in-out;

            cursor: pointer;

            &:active {
                transform: translateY(-0.3rem);

                background-color: rgba($myGrey, 0);
            }

            // letter
            span {
                @include flex(row, center, center);

                padding: 0.5em;
            }

            @include query("lg") {
                font-size: 1.1em;
                &:hover {
                    background-color: rgba($myGrey, 0);
                }
            }

            @include query("xl") {
                font-size: 1.2em;
                &:hover {
                    background-color: rgba($myGrey, 0);
                }
            }
        }

        .accented span:nth-of-type(2) {
            display: none;
        }

        .shift,
        .back-space,
        .space,
        .enter {
            padding: 0.7em 0.5em;
        }

        .shift-icon {
            font-size: 1.2em;

            transition: transform 0.3s ease-in-out, color 0.2s 0.3s ease-in-out;
        }
        .shift-key-pressed {
            transform: rotate(180deg) scale(1.7);
            color: red;

            transition: transform 0.3s ease-in-out, color 0.2s 0.3s ease-in-out;
        }

        .back-space {
            flex: 1.2;
        }

        .space {
            flex: 3;
        }

        .enter {
            flex: 1.2;

            i {
                transform: rotateY(180deg) rotate(90deg);
            }
        }
    }

    // pin code keys
    .pin-code {
        @include flex(row, space-between, center);

        overflow: hidden;

        position: relative;

        button {
            @include flex(row, center, center);
            flex: 1;

            min-width: 1em;
            min-height: 1em;

            font-size: 1em;

            opacity: 0;

            padding: 0.5em 1em;

            cursor: default;
        }
    }
}

.show-keyboard {
    transform: translateY(0%);

    transition: transform 0.5s ease-in-out;
}
