@use "../variablesMixinsFunctions.scss" as *;

.menu {
    display: grid;
    display: none;
    grid-template-rows: auto 1fr auto;

    place-content: center;
    justify-items: center;

    height: 100%;

    background-color: $myBlack;

    transform: translateY(-100%);

    padding: 3em 0 4em 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 50;

    .choice-title {
        font-size: 1em;
        transform: scaleX(0);
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 2em;

        justify-items: space-between;

        width: 100%;

        padding: 2em;

        div {
            @include flex(column, center, center);
            gap: 1em;

            img {
                width: 2em;
            }

            h3 {
                font-size: 1em;
            }

            div {
                @include flex(row, center, center);
                gap: 0.5em;

                transform: scale(0);
                opacity: 0;

                position: relative;
                bottom: 1em;
            }

            @include query("xl") {
                img {
                    width: 3em;
                    cursor: pointer;
                }

                h3 {
                    cursor: pointer;
                }

                div {
                    cursor: pointer;

                    span {
                        transition: opacity 0.1s ease-in-out;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }

                img,
                h3 {
                    transition: opacity 0.1s ease-in-out;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .start-btn {
        background-color: transparent;

        transform: scale(0);
        opacity: 0;

        img {
            width: 2.5em;

            transition: opacity 0.1s ease-in-out;

            &:active {
                opacity: 0;
            }

            @include query("lg") {
                width: 3em;
            }
        }
    }

    .up-arrow {
        font-size: 1.5em;

        transform: scale(0);
        transition: bottom 0.3s ease;

        position: absolute;
        left: 50%;
        bottom: 1em;

        cursor: pointer;

        &:active {
            bottom: 1.5em;
        }
    }
}

//     .lights {
//         font-size: 8rem;
//         color: white;
//
//         transform: translate(-50%, -50%);
//
//         position: absolute;
//         top: 48%;
//         left: 50%;
//
//         div:nth-of-type(1) {
//             width: 1.7rem;
//             height: 1.7rem;
//
//             border-radius: 50%;
//             background-color: white;
//
//             transform: translateX(-50%);
//
//             border: 0.2rem solid black;
//
//             position: absolute;
//             top: 11%;
//             left: 50%;
//         }
//
//         div:nth-of-type(2) {
//             width: 1.7rem;
//             height: 1.7rem;
//
//             border-radius: 50%;
//             background-color: white;
//
//             transform: translateX(-50%);
//
//             border: 0.2rem solid black;
//
//             position: absolute;
//             top: 38%;
//             left: 50%;
//         }
//
//         div:nth-of-type(3) {
//             width: 1.7rem;
//             height: 1.7rem;
//
//             border-radius: 50%;
//             background-color: white;
//
//             transform: translateX(-50%);
//
//             border: 0.2rem solid black;
//
//             position: absolute;
//             bottom: 15%;
//             left: 50%;
//         }
//     }
