@use "../variablesMixinsFunctions.scss" as *;

.menu {
    display: grid;
    // display: none;
    grid-template-rows: auto 1fr auto;

    justify-items: center;
    align-content: center;

    background-color: $myBlack;

    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

    padding: 3em 0 4em 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 50;

    .choice-title {
        font-size: 1em;

        transform: scale(0);

        transition: transform 0.3s ease-in-out;
    }
    .show-choice-title {
        transform: scale(1);

        transition: transform 0.3s 0.5s ease-in-out;
    }

    // catrgories
    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;

        // category
        div {
            @include flex(column, center, center);

            img {
                width: 2em;

                transition: transform 0.3s ease-in-out;
            }
            .translate-scale-icon {
                animation: translate-scale-icon 1.3s 0.1s ease-in-out infinite;

                @keyframes translate-scale-icon {
                    50% {
                        transform: translateY(-0.5em) scale(1.3);
                    }
                    100% {
                        transform: translate(0) scale(1);
                    }
                }
            }

            h3 {
                font-size: 1em;

                transition: color 0.3s ease-in-out;

                padding: 0.5em 0.5em 0em 0.5em;
            }
            .select-category {
                color: #ffbf00;

                transition: color 0.3s ease-in-out;
            }

            // length
            div {
                @include flex(row, center, center);

                transform: scale(0);
                opacity: 0;

                transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out,
                    color 0.3s ease-in-out;

                span {
                    padding: 0 0.5em;
                }
            }
            .show-lengths {
                transform: scale(1);
                opacity: 1;

                transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
            }
            .select-length {
                color: #ffbf00;

                transition: color 0.3s ease-in-out;
            }

            @include query("xl") {
                img {
                    width: 3em;
                    cursor: pointer;
                }

                h3 {
                    cursor: pointer;
                }

                div {
                    cursor: pointer;

                    span {
                        transition: opacity 0.1s ease-in-out;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }

                img,
                h3 {
                    transition: opacity 0.1s ease-in-out;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .start-btn {
        background-color: transparent;

        transform: scale(0);
        opacity: 0;

        transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;

        img {
            width: 2.5em;

            transition: opacity 0.5s ease-in-out;

            &:active {
                opacity: 0;
            }

            @include query("lg") {
                width: 3em;
            }
        }
    }
    .show-start-btn {
        transform: scale(1);

        opacity: 1;

        transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
    }

    .up-arrow {
        font-size: 1.5em;

        transform: translateX(-50%) scale(0);
        transition: bottom 0.3s ease-in-out, transform 0.3s ease-in-out;

        position: absolute;
        left: 50%;
        bottom: 1em;

        cursor: pointer;

        &:active {
            bottom: 1.5em;
        }
    }
    .show-up-arrow {
        transform: translateX(-50%) scale(1);

        transition: transform 0.3s 0.5s ease-in-out, bottom 0.3s ease-in-out;

        position: absolute;
        left: 50%;
        bottom: 1em;
    }
}
.open-menu {
    transform: translateY(0%);

    transition: transform 0.3s 0.1s ease-in-out;
}
