@use "../variablesMixinsFunctions.scss" as *;

.unregistered {
    @include flex(row, center, center);

    min-width: 10em;

    background-color: $myWhite;

    color: $myBlack;
    font-size: 0.8em;

    border-radius: 0.5rem;

    padding: 0.5em 2em;

    transform: translateY(-500%);
    transition: transform 0.5s ease-in-out;

    position: absolute;
    top: 3.6em;

    z-index: 10;

    span:nth-child(1) {
        margin-right: 0.5em;
    }

    span:last-child {
        color: red;
    }
}
