@use "../variablesMixinsFunctions.scss" as *;

.unregistered {
    @include flex(row, center, center);
    min-width: 20rem;

    background-color: $myWhite;

    color: $myBlack;
    font-size: 1.5rem;
    @include query("xl") {
        font-size: 2rem;
    }

    border-radius: 0.5rem;

    padding: 1rem 3rem;

    transform: translateY(-500%);
    transition: transform 0.5s ease-in-out;

    position: absolute;
    top: 8rem;
    @include query("sm") {
        top: 8rem;
    }
    @include query("lg") {
        top: 10.5rem;
    }

    z-index: 10;

    span:nth-child(1) {
        margin-right: 1rem;
    }

    span:last-child {
        color: red;
    }
}
