html {
  font-family: "Noto Naskh Arabic", serif;
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 40em;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 95;
}
header .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .title-container .title {
  font-size: 1.5em;
}
header .title-container .down-arrow {
  font-size: 1.5em;
  transform: scale(0);
  transition: bottom 0.3s ease;
  padding: 0 0.5em 0.5em 0.5em;
  position: absolute;
  left: 50%;
  bottom: -1.2em;
  z-index: 10;
  cursor: pointer;
}
header .title-container .down-arrow:active {
  bottom: -1.5em;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  position: absolute;
  top: 2.55em;
  right: 0em;
  bottom: 0em;
  left: 0em;
  overflow: hidden;
}

.menu {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-content: center;
  justify-items: center;
  height: 100%;
  background-color: rgb(20, 20, 20);
  transform: translateY(-100%);
  padding: 3em 0 4em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}
.menu .choice-title {
  font-size: 1em;
  transform: scaleX(0);
}
.menu .categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: space-between;
  width: 100%;
  padding: 2em;
}
.menu .categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.menu .categories div img {
  width: 2em;
}
.menu .categories div h3 {
  font-size: 1em;
}
.menu .categories div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  transform: scale(0);
  opacity: 0;
  position: relative;
  bottom: 1em;
}
@media screen and (min-width: 48em) {
  .menu .categories div img {
    width: 3em;
    cursor: pointer;
  }
  .menu .categories div h3 {
    cursor: pointer;
  }
  .menu .categories div div {
    cursor: pointer;
  }
  .menu .categories div div span {
    transition: opacity 0.1s ease-in-out;
  }
  .menu .categories div div span:hover {
    opacity: 0.5;
  }
  .menu .categories div img,
.menu .categories div h3 {
    transition: opacity 0.1s ease-in-out;
  }
  .menu .categories div img:hover,
.menu .categories div h3:hover {
    opacity: 0.5;
  }
}
.menu .start-btn {
  background-color: transparent;
  transform: scale(0);
  opacity: 0;
}
.menu .start-btn img {
  width: 2.5em;
  transition: opacity 0.1s ease-in-out;
}
.menu .start-btn img:active {
  opacity: 0;
}
@media screen and (min-width: 37.5em) {
  .menu .start-btn img {
    width: 3em;
  }
}
.menu .up-arrow {
  font-size: 1.5em;
  transform: scale(0);
  transition: bottom 0.3s ease;
  position: absolute;
  left: 50%;
  bottom: 1em;
  cursor: pointer;
}
.menu .up-arrow:active {
  bottom: 1.5em;
}

.word-and-guesses {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  width: 100%;
}
.word-and-guesses .word-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 7em;
  margin-top: 3em;
  position: relative;
}
.word-and-guesses .word-container .word {
  opacity: 0;
}
.word-and-guesses .word-container .word-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 0.5em;
  color: rgb(20, 20, 20);
  font-size: 1em;
  font-weight: bold;
  transition: right 0.5s 1s ease-in-out;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.word-and-guesses .word-container .word-cover .notch-container {
  font-size: 0.8em;
  transform: translateY(-50%) rotate(86deg);
  position: absolute;
  top: 50%;
  right: 5%;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  opacity: 0;
  box-shadow: 0 0 0.2em 0.2em rgba(255, 255, 0, 0.02);
  border: 0.05em solid rgba(235, 235, 235, 0.1);
  text-align: center;
  border-radius: 1em;
  padding: 1em;
}
fieldset legend {
  font-size: 0.9em;
  padding-inline: 1em;
  margin: 0 auto;
}
@media screen and (min-width: 37.5em) {
  fieldset legend {
    font-size: 0.9em;
  }
}

.guesses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.guesses .guess-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.guesses .guess-row span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1em;
  max-height: 1em;
  padding: 0.9em;
  background-color: rgb(235, 235, 235);
  color: rgb(20, 20, 20);
  font-size: 1em;
  border-radius: 0.2rem;
  transition: border 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
@media screen and (min-width: 48em) {
  .guesses .guess-row span {
    padding: 1em;
  }
  .guesses .guess-row span:hover {
    transition: background-color 0.2s ease-in-out, color 0.2s ease;
    background-color: rgba(235, 235, 235, 0.2);
    color: rgb(235, 235, 235);
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  padding: 0 0.5em 1em 0.5em;
  transform: translateY(150%);
  transition: transform 0.5s 0.5s ease-in-out;
}
.keyboard .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.3em;
  width: 100%;
}
.keyboard .row button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 1em;
  min-height: 1em;
  background-color: rgba(120, 120, 120, 0.1);
  color: rgb(235, 235, 235);
  font-size: 1em;
  border-radius: 0.5em;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  cursor: pointer;
}
.keyboard .row button:active {
  transform: translateY(-0.3rem);
  background-color: rgba(120, 120, 120, 0);
}
.keyboard .row button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
@media screen and (min-width: 37.5em) {
  .keyboard .row button {
    font-size: 1.1em;
  }
  .keyboard .row button:hover {
    background-color: rgba(120, 120, 120, 0);
  }
}
@media screen and (min-width: 48em) {
  .keyboard .row button {
    font-size: 1.2em;
  }
  .keyboard .row button:hover {
    background-color: rgba(120, 120, 120, 0);
  }
}
.keyboard .row .accented span:nth-of-type(2) {
  display: none;
}
.keyboard .row .shift,
.keyboard .row .back-space,
.keyboard .row .space,
.keyboard .row .enter {
  padding: 0.7em 0.5em;
}
.keyboard .row .shift-icon {
  font-size: 1.2em;
}
.keyboard .row .back-space {
  flex: 1.2;
}
.keyboard .row .space {
  flex: 3;
}
.keyboard .row .enter {
  flex: 1.2;
}
.keyboard .row .enter i {
  transform: rotateY(180deg) rotate(90deg);
}
.keyboard .pin-code button {
  opacity: 0;
  padding: 0.2em 1em;
  cursor: default;
}

.unregistered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 10em;
  background-color: rgb(235, 235, 235);
  color: rgb(20, 20, 20);
  font-size: 0.8em;
  border-radius: 0.5rem;
  padding: 0.5em 2em;
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 3.6em;
  z-index: 10;
}
.unregistered span:nth-child(1) {
  margin-right: 0.5em;
}
.unregistered span:last-child {
  color: red;
}

/*# sourceMappingURL=index.css.map */
