html {
  font-family: "Noto Naskh Arabic", serif;
  font-size: 10px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  max-width: 900px;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  font-size: 1.6rem;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 95;
}
@media screen and (min-width: 48em) {
  header {
    max-width: 900px;
    margin: 0 auto;
  }
}
header .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .title-container .title {
  font-size: 2.5rem;
}
@media screen and (min-width: 48em) {
  header .title-container .title {
    font-size: 3.3rem;
  }
}
header .title-container .down-arrow {
  font-size: 2.5rem;
  transform: scale(0);
  transition: bottom 0.3s ease;
  padding: 0 0.5rem 0.5rem 0.5rem;
  position: absolute;
  left: 50%;
  bottom: -3rem;
  cursor: pointer;
}
@media screen and (min-width: 48em) {
  header .title-container .down-arrow {
    font-size: 4rem;
  }
}
header .title-container .down-arrow:active {
  bottom: -3.5rem;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  height: 100%;
  padding-top: 4.1rem;
  overflow: hidden;
}
@media screen and (min-width: 37.5em) {
  main {
    padding-top: 6.7rem;
  }
}

.menu {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: rgb(20, 20, 20);
  padding: 10rem 0;
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}
.menu .choice-title {
  font-size: 2rem;
  transform: scaleX(0);
}
@media screen and (min-width: 48em) {
  .menu .choice-title {
    font-size: 2.5rem;
  }
}
.menu .categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: space-between;
}
.menu .categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.menu .categories div img {
  width: 4rem;
}
.menu .categories div h3 {
  font-size: 1.8rem;
}
.menu .categories div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transform: scale(0);
  opacity: 0;
  position: relative;
  bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .menu .categories div img {
    width: 6rem;
    cursor: pointer;
  }
  .menu .categories div h3 {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .menu .categories div div {
    font-size: 2rem;
    cursor: pointer;
  }
  .menu .categories div div span {
    transition: opacity 0.1s ease-in-out;
  }
  .menu .categories div div span:hover {
    opacity: 0.5;
  }
  .menu .categories div img,
.menu .categories div h3 {
    transition: opacity 0.1s ease-in-out;
  }
  .menu .categories div img:hover,
.menu .categories div h3:hover {
    opacity: 0.5;
  }
}
.menu .start-btn {
  background-color: transparent;
  transform: scale(0);
  opacity: 0;
}
.menu .start-btn img {
  width: 4rem;
  transition: opacity 0.1s ease-in-out;
}
.menu .start-btn img:active {
  opacity: 0;
}
@media screen and (min-width: 48em) {
  .menu .start-btn img {
    width: 5.3rem;
    cursor: pointer;
  }
}
.menu .up-arrow {
  font-size: 2.5rem;
  transform: scale(0);
  transition: bottom 0.3s ease;
  padding: 1rem;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  cursor: pointer;
}
@media screen and (min-width: 37.5em) {
  .menu .up-arrow {
    font-size: 4rem;
  }
}
.menu .up-arrow:active {
  bottom: 5rem;
}

.word-and-guesses {
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: space-around;
  width: 100%;
  padding-top: 2rem;
}
.word-and-guesses .word-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 50%;
  max-width: 20rem;
  margin-top: 2rem;
  position: relative;
}
.word-and-guesses .word-container .word {
  font-size: 2.5rem;
  opacity: 0;
}
@media screen and (min-width: 48em) {
  .word-and-guesses .word-container .word {
    font-size: 3rem;
  }
}
.word-and-guesses .word-container .word-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  color: rgb(20, 20, 20);
  font-weight: bold;
  transition: right 0.5s 1s ease-in-out;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.word-and-guesses .word-container .word-cover .notch-container {
  font-size: 1.5rem;
  transform: translateY(-50%) rotate(86deg);
  position: absolute;
  top: 50%;
  right: 5%;
}
@media screen and (min-width: 48em) {
  .word-and-guesses .word-container .word-cover .notch-container {
    font-size: 2rem;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  opacity: 0;
  border: 0.1rem solid rgba(235, 235, 235, 0.1);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}
fieldset legend {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 37.5em) {
  fieldset legend {
    font-size: 2rem;
    padding: 0 1rem;
  }
}

.guesses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.guesses .guess-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.guesses .guess-row span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 37px;
  min-height: 35px;
  background-color: rgb(235, 235, 235);
  color: rgb(20, 20, 20);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: border 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
@media screen and (min-width: 37.5em) {
  .guesses .guess-row span {
    min-width: 52px;
    min-height: 50px;
  }
}
@media screen and (min-width: 30em) {
  .guesses .guess-row span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 48em) {
  .guesses .guess-row span:hover {
    transition: background-color 0.2s ease-in-out, color 0.2s ease;
    background-color: rgba(235, 235, 235, 0.2);
    color: rgb(235, 235, 235);
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 900px;
  padding: 1rem 1rem 2rem 1rem;
  transform: translateY(150%);
  transition: transform 0.5s 0.5s ease-in-out;
}
.keyboard .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
  width: 100%;
}
.keyboard .row button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 4rem;
  background-color: rgba(120, 120, 120, 0.1);
  color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  padding: 1.2rem;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 37.5em) {
  .keyboard .row button {
    padding: 1.2rem 1.5rem;
  }
}
.keyboard .row button:active {
  transform: translateY(-0.6rem);
  background-color: rgba(120, 120, 120, 0);
}
@media screen and (min-width: 37.5em) {
  .keyboard .row button:hover {
    background-color: rgba(120, 120, 120, 0);
  }
}
.keyboard .row button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}
@media screen and (min-width: 30em) {
  .keyboard .row button span {
    font-size: 2.5rem;
  }
}
.keyboard .row .accented span:nth-of-type(2) {
  display: none;
}
.keyboard .row .shift {
  flex: 2;
  font-size: 2.5rem;
}
@media screen and (min-width: 30em) {
  .keyboard .row .shift {
    font-size: 4rem;
  }
}
.keyboard .row .back-space {
  font-size: 2rem;
  padding: 1rem 0;
}
@media screen and (min-width: 30em) {
  .keyboard .row .back-space {
    font-size: 2.5rem;
  }
}
.keyboard .row .space {
  flex: 3;
  font-size: 2rem;
  padding: 1rem 0;
}
@media screen and (min-width: 30em) {
  .keyboard .row .space {
    font-size: 3rem;
  }
}
.keyboard .row .enter {
  font-size: 2rem;
  padding: 1rem 0;
}
@media screen and (min-width: 30em) {
  .keyboard .row .enter {
    font-size: 3rem;
  }
}
.keyboard .row .enter i {
  transform: rotateY(180deg) rotate(90deg);
}
.keyboard .pin-code button {
  opacity: 0;
  cursor: default;
}
@media screen and (min-width: 37.5em) {
  .keyboard .pin-code button {
    padding: 1.5rem 0.5rem;
  }
}

.unregistered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  background-color: rgb(235, 235, 235);
  color: rgb(20, 20, 20);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 8rem;
  z-index: 10;
}
@media screen and (min-width: 48em) {
  .unregistered {
    font-size: 2rem;
  }
}
@media screen and (min-width: 30em) {
  .unregistered {
    top: 8rem;
  }
}
@media screen and (min-width: 37.5em) {
  .unregistered {
    top: 10.5rem;
  }
}
.unregistered span:nth-child(1) {
  margin-right: 1rem;
}
.unregistered span:last-child {
  color: red;
}

/*# sourceMappingURL=index.css.map */
